{% extends 'nadooit_os/base.html' %}
{% block content %}
{% csrf_token %}
{% load tz %}

<div class="container">
  <br>
  <div class="row">
    <div class="col">

      {% for cutomer in customers_the_user_is_responsible_for_and_the_customer_programm_executions %}
        <div id="quickfilter{{ cutomer.0.id }}">
          <ul class="nav nav-pills">
            
            {% if filter_type == "last20" %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'last20' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Letzte 20 Buchungen</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'last20' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Letzte 20 Buchungen</a>
                </li>
            {% endif %}
            {% if filter_type == "lastmonth" %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'lastmonth' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Letzter Monat</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'lastmonth' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Letzter Monat</a>
                </li>
            {% endif %}
            {% if filter_type == "today" %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'today' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Heute</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'today' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Heute</a>
                </li>
            {% endif %}
            {% if filter_type == "thismonth" %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'thismonth' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Dieser Monat</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'thismonth' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Dieser Monat</a>
                </li>
            {% endif %}
            {% if filter_type == "thisyear" %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'thisyear' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Dieses Jahr</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" hx-swap="outerHTML" hx-get="{% url 'nadooit_os:customer-program-execution-list-for-cutomer' 'thisyear' cutomer.0.id %}" hx-target="#quickfilter{{ cutomer.0.id }}">Dieses Jahr</a>
                </li>
            {% endif %}

        {% comment %} Add filter for entering year month and day {% endcomment %}
        </ul>
          <div class="table-responsive">
          <table class="table caption-top">
            <caption>{{cutomer.0.name}}</caption>
              <thead class="table-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Programm</th>
                  <th scope="col">Zeitersparnis</th>
                  <th scope="col">Preis</th>
                  <th scope="col">Erstellt am</th>
                  <th scope="col">Status</th>
                  <th scope="col">Aktion</th>
                </tr>
              </thead>

              <tbody>
                {% for customer_program_execution in cutomer.1 %}
                  <tr>
                    <td>{{ customer_program_execution.id }}</td>
                    <td>{{ customer_program_execution.customer_program.program.name }}</td>
                    <td>{{ customer_program_execution.program_time_saved_in_seconds}} sek</td>
                    <td>{{ customer_program_execution.price_for_execution}}</td>
                    {% comment %} TODO CHECK IF THIS IS BEST PRACTICE AND IF NOT CHANGE IT! {% endcomment %}
                    <td>{{ customer_program_execution.created_at|timezone:"CET"}}</td>

                    <td>
                {% if customer_program_execution.payment_status == "REVOKED" %}
                    <span class="badge bg-danger">Storniert</span>
                {% elif customer_program_execution.payment_status == "REFUNDED" %}
                    <span class="badge bg-success">Erstattet</span>
                {% elif customer_program_execution.payment_status == "PAID" %}
                    <span class="badge bg-success">Bezahlt</span>
                {% else %}
                    <span class="badge bg-warning">Offen</span>
                {% endif %}	
                    </td>
                                    <td>
                {% if customer_program_execution.payment_status == "REVOKED" %}

                {% elif customer_program_execution.payment_status == "REFUNDED" %}

                {% elif customer_program_execution.payment_status == "PAID" %}

                {% else %}
                    {% include 'nadooit_os/customer_program_execution/components/complaint_modal_button.html' %}
                {% endif %}	
                </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="5"> Keine Buchungen vorhanden </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </ul>
        </div>
        <br>

        {% empty %}
        <div class="alert alert-info" role="alert">
          Keine Buchungen vorhanden
        </div>
      {% endfor %}
      </div>

  </div>
</div>

{% endblock %}