{% load is_url_active_templatetag %}
<header class="pc" style="border-bottom: 1px solid #00b4dc;">
    <nav>
        <div class="container">
            <ul class="nav-bar">
                <ul class="links">
                    <li><a href="{% url 'nadooit-os' %}"  class="{% is_url_active request 'nadooit-os' %}">NADOOIT OS</a></li>
                    <li><a href="{% url 'create-api-key' %}" class="{% is_url_active request 'create-api-key' %}">Create new NADOOIT API Key</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout-user' %}" class="{% is_url_active request 'logout-user' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'login-user' %}" class="{% is_url_active request 'login-user' %}">Login</a></li>
                    {% endif %}

                </ul>
            </ul>
        </div>
    </nav>
  </header>
  <header class="mb" style="border-bottom: 1px solid #00b4dc;">
    <nav>
        <div class="nv">
            <div class="container">
                <ul class="nav-bar">
                    {% comment %} <li class="logo"><a href="{% url 'index' %}"><img src=".\static\nadooit_api_executions_system\png\logo\nadooit.png" alt=""></a></li> {% endcomment %}
                    <li class="toggle" onclick="my()"><i class="far fa-bars bar"></i></li>
                    <li class="close" onclick="my()"><i class="far fa-times cls"></i></li>
                </ul>
              </div>
          </div>
    </nav>
    <div class="mmm">
        <ul class="menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'nadooit-os' %}"  class="{% is_url_active request 'nadooit-os' %}">NADOOIT OS</a></li>
                        <li><a href="{% url 'create-api-key' %}" class="{% is_url_active request 'create-api-key' %}">Create new NADOOIT API Key</a></li>
                        <li><a href="{% url 'logout-user' %}" class="{% is_url_active request 'logout-user' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'login-user' %}" class="{% is_url_active request 'login-user' %}">Login</a></li>
                    {% endif %}
        </ul>
    </div>
  </header>
  <script src="nadooit_api_key\static\nadooit_api_key\js\app.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init({duration: 1000});
  </script>
  <section>