[run]
branch = True
source = .
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */*_test.py
    */admin.py
    */urls.py
    */templatetags/*
    manage.py
    nadooit/wsgi.py
    nadooit/asgi.py
    .venv/*
    venv/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.

[html]
directory = cov_html
