[run]
branch = True
source = app
omit =
    */migrations/*
    */tests/*
    app/manage.py
    app/nadooit/wsgi.py
    app/nadooit/asgi.py
    .venv/*
    venv/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.

[html]
directory = cov_html
