asgiref==3.8.1
black==24.3.0

certifi==2024.2.2

cffi==1.16.0
charset-normalizer
click==8.1.3
colorama==0.4.6
cryptography==42.0.5
dj-database-url==2.1.0
Django>=4.1
django-cockroachdb==4.1.1
django-extensions==3.2.1
django-grappelli==3.0.4
django-mfa2 @ git+https://github.com/NADOOIT/django-mfa2.git
django-pwa @ git+https://github.com/silviolleite/django-pwa@4eb4ae616f8671f85bb05156500d0814c6c4a3fe
django-sslserver==0.22
djangorestframework==3.14.0
ecdsa==0.18.0
fido2==1.1.3
idna==3.4
jsonfield==3.1.0
jsonLookup==0.9.0
MarkupSafe==2.1.1
mypy-extensions==0.4.3
null==0.6.1
pathspec==0.9.0
Pillow==10.2.0
platformdirs==2.5.2
#psycopg2-binary==2.9.5
mysqlclient==2.2.4
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==24.1.0
pyotp==2.9.0
python-jose==3.3.0
python-u2flib-server==5.0.1
pytz==2022.6
requests==2.31.0
rsa==4.9
simplejson==3.19.2
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tzdata==2022.1
ua-parser==0.18.0
urllib3==1.26.18
user-agents==2.2.0
Werkzeug==2.3.8
model_bakery
django-htmx
django-money

pytest
pytest-django
crispy-bootstrap5
django-debug-toolbar==3.6.0
pytest-factoryboy
python-dotenv
django-ordered-model
chardet

celery
redis

#ai
openai~=0.27


plotly
pandas
seaborn
matplotlib
graphviz
#cikit-learn
#torch

moviepy