# Django and Web Framework Dependencies
Django==5.2
asgiref==3.7.2
django-extensions==3.2.3
django-grappelli==3.0.8
django-mfa2 @ git+https://github.com/NADOOIT/django-mfa2.git
django-pwa @ git+https://github.com/silviolleite/django-pwa@4eb4ae616f8671f85bb05156500d0814c6c4a3fe
django-sslserver==0.22
djangorestframework==3.14.0
django-debug-toolbar==3.6.0
django-htmx==1.17.3
django-money==3.4.1
django-ordered-model==3.7.4
crispy-bootstrap5==2024.2
dj-database-url==2.1.0

# Testing Tools
pytest==8.1.1
pytest-django==4.8.0
pytest-cov==4.1.0
coverage==7.4.4
model-bakery==1.17.0
factory-boy==3.3.0
freezegun==1.4.0

# Development Tools
black==24.3.0
flake8==7.0.0
mypy==1.9.0
isort==5.13.2
pre-commit==3.6.2

# Security
cryptography==42.0.5
pyOpenSSL==24.1.0

# Task Processing and Caching
celery==5.3.6
redis==5.0.2
uWSGI==2.0.24

# Data Processing and Visualization
plotly==5.19.0
pandas==2.2.1
seaborn==0.13.2
matplotlib==3.8.3
graphviz==0.20.1
moviepy==1.0.3

# Utilities and Tools
Pillow==10.2.0
python-dotenv==1.0.1
requests==2.31.0
urllib3==2.2.1
simplejson==3.19.2
Werkzeug==2.3.8

# AI Integration
openai==0.27.10

# Database
mysqlclient==2.2.4

# Other
certifi==2024.2.2
cffi==1.16.0
charset-normalizer
click==8.1.3
colorama==0.4.6
ecdsa==0.18.0
fido2==1.1.3
idna==3.4
jsonfield==3.1.0
jsonLookup==0.9.0
MarkupSafe==2.1.1
mypy-extensions==0.4.3
null==0.6.1
pathspec==0.9.0
platformdirs==2.5.2
pyasn1==0.4.8
pycparser==2.21
pyotp==2.9.0
python-jose==3.3.0
python-u2flib-server==5.0.1
pytz==2022.6
rsa==4.9
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
tzdata==2022.1
ua-parser==0.18.0
user-agents==2.2.0
chardet