asgiref==3.8.1
black==25.1.0

certifi==2025.1.31

cffi==1.17.1
charset-normalizer
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
dj-database-url==2.3.0
Django>=4.2
django-cockroachdb==5.1
django-extensions==3.2.3
django-grappelli==3.0.9
django-mfa2 @ git+https://github.com/NADOOIT/django-mfa2.git
django-pwa @ git+https://github.com/silviolleite/django-pwa@4eb4ae616f8671f85bb05156500d0814c6c4a3fe
django-sslserver==0.22
djangorestframework==3.15.2
ecdsa==0.19.1
fido2==1.1.3
idna==3.10
jsonfield==3.1.0
jsonLookup==0.9.0
MarkupSafe==3.0.2
mypy-extensions==1.0.0
null==0.6.1
pathspec==0.12.1
Pillow==11.1.0
platformdirs==4.3.7
#psycopg2-binary==2.9.5
mysqlclient==2.2.7
pyasn1>=0.4
pycparser==2.22
pyOpenSSL==25.0.0
pyotp==2.9.0
python-jose==3.4.0
python-u2flib-server==5.0.1
pytz==2025.2
requests==2.32.3
rsa==4.9
simplejson==3.20.1
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tzdata==2025.2
ua-parser==1.0.1
urllib3==2.5.0
user-agents==2.2.0
Werkzeug==3.1.3
model_bakery
django-htmx
django-money

pytest
pytest-django
crispy-bootstrap5
django-debug-toolbar==5.1.0
pytest-factoryboy
python-dotenv
django-ordered-model
chardet

celery
redis

#ai
openai~=1.73


plotly
pandas
seaborn
matplotlib
graphviz
#cikit-learn
#torch

moviepy