{% extends 'nadooit_os/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <br/>
        {% if submitted and not error%}
        <div class="alert alert-success" role="alert">
            <strong>Schlüssel hinzugefügt!</strong>
        </div>
        
        {% elif error %}

        <div class="alert alert-danger">
            <strong>{{error}}</strong>
        </div>
        {% endif %}

        {% if not submitted %}   

        <form action="" method="post">
        {% csrf_token %}

        {% comment %} give the user a choice of the customers from the list list_of_customers__for__employee_manager_contract the user can select multiple
 {% endcomment %}

        <div class="form-group">
            <label for="customers">Unternehmen auswählen:</label>
            <select class="form-select" id="customers" name="customers">
                {% for customer in list_of_customers__for__employee_manager_contract %}
                <option value="{{ customer.id }}">{{ customer.name }}</option>
                {% endfor %}
            </select>	
        </div>
        <br/>
        {% comment %} User Code is required {% endcomment %}
        <div class="form-group">
            <label for="user_code">Schlüssel User code eingeben:</label>
            <input type="text" class="form-control" id="user_code" name="user_code" required>
        </div>
        <br/>

        <input type="submit" value=" User Code zum Kunden hinzufügen" class="btn btn-secondary">
        </form>
        {% endif %}
</div>

{% endblock %}