{% extends 'nadooit_os/base.html' %} {% block content %} {% csrf_token %}

<div class="container">
  <br />
  <div class="row">
    <div class="col">
      {% for customer in customers__and__employees__for__employee_manager_contract__that_can_add_employees__for__user %}

      <div class="table-responsive">
        <table class="table caption-top">
          <caption>
            {{customer.0}}
          </caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Anzeige Name</th>
              <th scope="col">User Code</th>
              <th scope="col">Vertrag Status</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            {% for employeecontract in customer.1 %}
            <tr>
              <td>{{ employeecontract.employee.user.display_name }}</td>
              <td>
                {{employeecontract.employee.user.user_code}}
                 
                  
              </td>
              {% comment %} A button with the lable Vertrag deaktivieren. Use htmx to send a post request to nadooit-os/hr/deactivate-contract/{{customer.1.id}}/{{{employee.user.id}}} {% endcomment %}
              <td>
                {% if customer.2 == True %}
                  {% if employeecontract.is_active %}
                  <button type="submit" class="btn btn-danger" hx-post="{% url 'nadooit_os:deactivate-contract' employeecontract.id %}" hx-swap="outerHTML">
                    Vertrag deaktivieren
                  </button>	
                  {% else %}
                  <button type="submit" class="btn btn-success" hx-post="{% url 'nadooit_os:activate-contract' employeecontract.id %}" hx-swap="outerHTML">
                    Vertrag aktivieren
                  </button>
                  {% endif %}
                {% elif customer.2 == False %}
                  {% if employeecontract.is_active %}
                  {% comment %} show badges with the status {% endcomment %}
                  <span class="badge bg-success">Aktiv</span>
                  {% else %}
                  <span class="badge bg-danger">Inaktiv</span>
                  {% endif %}
                {% endif %}

              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">Keine Angestellten gefunden</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br />

      {% empty %}
      <div class="alert alert-info" role="alert">Keine Angestellten gefunden</div>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock %}