
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

:root {
  --black: #0d0d0d;
  --lblack: rgb(24, 24, 24);
  --lblue: #5ec9e3;
}

.showe {
  display: none;
}

body {
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul li a {
  font-weight: 400;
  transition: 0.6s;
}

ul .links li {
  background-color: #1919cf00;
  border-radius: 6px;
  padding: 7px 20px;
  transition: 0.4s;
}
ul .links li:hover {
  color: #00b4dc;
}

ul .links li a {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  transition: 0.6s;
}
ul .links li a:hover {
  color: #00b4dc;
}

ul .links li a span {
  color: #3e00dc;
}

ul li a span {
  color: #3e00dc;
}


a.active-link {
  color: #00b4dc;  
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.sec-main {
  padding: 5em 0em;
  overflow-x: hidden !important;
  z-index: -1;
}

nav {
  background-color: #000;
  padding: 0.5em 0em;
  box-shadow: var(--shadow);
}

.what-we-stand-for {
  text-align: center;
  padding: 20% 0 1% 0;
  color: white;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.nav-bar .logo {
  width: 90px;
  font-size: 40px;
  margin-right: 400px;
}

.logo a img {
  width: 100%;
}
.mb {
  display: none;
}

.pc {
  display: block;
}

.links {
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-active {
  background: var(--btn) !important;
}

/* banner */

.size {
  max-width: 1200px;
  margin: auto;
}

#myBtn {
  display: flex;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  font-weight: 300;
  border: none;
  outline: none;
  background-color: #007fc3;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#myBtn:hover {
  background-color: #555;
}

.banner {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding: 0% 0 10% 0;
}
.impressum {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding: 5% 0 10% 0;
  position: relative;
}
.impressum h1,
.impressum h3 {
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  background: linear-gradient(90deg, #00f4fa, #007fc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.impressum h2 {
  color: white;
  text-align: center;
  padding-top: 7%;
}

.impressum h4 {
  color: white;
  font-size: 35px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 75px;
  text-transform: none;
}
.impressum p {
  color: white;
  font-size: 35px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 75px;
  text-transform: none;
}

.datenschutz {
  background: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding: 5% 0 10% 0;
  position: relative;
}
.datenschutz h1,
.datenschutz h3 {
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  padding-top: 7%;
  background: linear-gradient(90deg, #00f4fa, #007fc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.datenschutz h2 {
  color: white;
  text-align: center;
  padding-top: 7%;
}

.datenschutz h4 {
  color: white;
  font-size: 35px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 75px;
  text-transform: none;
}
.datenschutz p {
  color: white;
  font-size: 35px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 75px;
  text-transform: none;
}

.datenschutz li {
  font-family: 'Roboto', sans-serif; /* Change the font-family to match your design */
  font-size: 18px; /* Adjust the font size */
  line-height: 1.5; /* Adjust the line height */
  color: white; /* Adjust the text color */
  list-style-type: none; /* Remove the default bullet points */
  padding-left: 1rem; /* Add some padding to the left */
  position: relative;
  margin-bottom: 1rem; /* Add some space between list items */
}

.datenschutz li:before {
  content: '•'; /* Add a custom bullet point */
  color: #007BFF; /* Adjust the bullet point color to match your design */
  font-size: 24px; /* Adjust the bullet point size */
  position: absolute;
  left: 0;
  top: 0;
}



/* Ende Datenschutz styling */

.gap {
  position: relative;
}
.round-animation {
  position: absolute;
  top: 34.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flying 29s infinite linear;
}

@keyframes flying {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.gap h1,
.gap h3 {
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 70px;
  text-align: center;
  font-weight: 600;
}

.gap h2 {
  text-align: center;
  padding-top: 7%;
}

.gap h4 {
  color: white;
  font-size: 35px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 75px;
  text-transform: capitalize;
}

.mangsho {
  background-color: #000;
}
.about {
  text-align: center;
  padding: 10% 0 1% 0;
  color: white;
}

.about h2 {
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #00f4fa, #007fc3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  padding: 8% 0;
  align-items: center;
}

.wrap-text {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(232, 232, 232);
  text-align: left;
  line-height: 30px;
  font-weight: 200;
}

.wrap-text h3 {
  padding: 2% 0;
  font-weight: 200;
}
.wrap-text h3 a {
  color: #44bdff;
}

footer {
  background-color: black;
  padding: 2% 0;
  text-align: center;
}

.foot {
  color: white;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
}
.desk {
  display: block;
}
.phone {
  display: none;
}
/* card-styling pc */
.four-card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4%;
  padding: 60% 0;
  padding-bottom: 20%;
}
.step-card {
  background-color: rgb(0, 0, 0);
  padding: 20% 5%;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #00d0ff;
  height: 380px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.722);
}

.step-card h1 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  padding: 10% 0;
}

.step-card h2 {
  color: #00d0ff;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.our-grantee {
  text-transform: none;
  text-align: center;
  padding: 10% 0 0% 0;
  color: white;
  padding-left: 2rem; /* Add space to the left */
  padding-right: 2rem; /* Add space to the right */
}

.our-grantee h1{
  text-transform: none;
  text-align: center;
  padding: 20% 0 1% 0;
  color: white;
}
.our-grantee-gold h1{
  text-transform: none;
  text-align: center;
  padding: 20% 0 10% 0;
  background: linear-gradient(225deg, #fa0000, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-container {
    position: relative;
}

.vote-section {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99; /* Add this line */
}

.vote-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    fill: #212121;
    outline: none;
}

.vote-button.highlighted {
    background-color: #ff9800;
    color: #ffffff;
}

/* From here on it is about mobile */
@media (max-width: 991px) {
  .container {
    padding: 0% 5%;
  }
  .pc {
    display: none;
  }
  .mb {
    display: block;
  }
  nav {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
  }
  .btns {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .btns button {
    width: 100%;
  }
  .mmm {
    display: none;
  }
  .active {
    display: block;
  }
  .menu {
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--black);
    width: 100%;
    left: 0;
    top: 10vh;
    z-index: 9999;
    justify-content: space-around;
    padding: 5em 0em;
  }
  .toggle i {
    color: white;
    font-size: 2rem;
  }
  .close {
    display: none;
  }
  .close i {
    color: white;
    font-size: 2rem;
  }
  .nav-bar .logo {
    width: 70px;
    margin-right: 0px;
  }
  .title-s {
    font-size: 2rem;
  }
  .size {
    width: 85%;
  }

  .none {
    display: none;
  }
  .tab-btn {
    width: 120px;
    padding: 0.8em 1em;
    font-size: 1rem;
    margin: 5px;
  }
  .title {
    font-size: 2.5rem;
    margin-top: 2em;
  }
  .menu {
    padding: 12em 0em;
  }
  .gap h4 {
    font-size: 30px;
    font-weight: 300;
  }
  .hap img {
    width: 100%;
  }
  .desk {
    display: none;
  }
  .phone {
    display: block;
  }
  .sikder {
    height: 0px;
    z-index: 100;
  }
  footer {
    padding: 5% 0;
  }
  .con p {
    padding: 3% 0;
  }
  .contact {
    padding: 0;
  }
  .gap h4 {
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .wraper {
    grid-template-columns: 1fr;
  }
  .four-card-wrap {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20%;
  }
  .step-card {
    height: 210px;
  }
  .step-card h1 {
    font-size: 18px;
  }
  .step-card h2 {
    font-size: 14px;
  }
  .wrap-text h3 {
    font-size: 14px;
  }
  .about h2 {
    font-size: 35px;
  }
  .about {
    padding-bottom: 15%;
  }
  .showe {
    display: block;
  }
  .hide {
    display: none;
  }
  .gap h1 {
    padding-top: 15%;
    padding-bottom: 5%;
  }
  .what-we-stand-for h1{
    text-align: center;
    text-transform: none;
    padding: 20% 0 20% 0;
    color: white;
    font-size: 18px;
  }
  .our-grantee h1{
    text-align: center;
    text-transform: none;
    padding: 20% 0 20% 0;
    color: white;
    font-size: 18px
  }
  .our-grantee-gold h1{
    padding: 50% 0 100% 0;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #00f4fa, #007fc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .impressum {
    background: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    padding: 30% 0 10% 0;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
  }
  .impressum h1,
  .impressum h3 {
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(90deg, #00f4fa, #007fc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .impressum h2 {
    color: white;
    text-align: center;
    font-size: 14px;
  }
  
  .impressum h4 {
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 75px;
    text-transform: capitalize;
  }
  .impressum p {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    white-space: wrap;
    text-transform: none;
  }
  .datenschutz {
    background: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    padding: 10% 0 10% 0;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
  }
  .datenschutz h1,
  .datenschutz h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(90deg, #00f4fa, #007fc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .datenschutz h2 {
    color: white;
    text-align: center;
    font-size: 14px;
  }
  
  .datenschutz h4 {
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 75px;
    text-transform: capitalize;
  }
  .datenschutz p {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    white-space: wrap;
    text-transform: none;
  }
  .view-port {
  padding-top: 90px;
  }

}
