{% extends 'nadooit_os/base.html' %} {% block content %} {% csrf_token %}

{% comment %} Show the users Displayname, User Code, a list of all contracttypes for each customer the user is connected with {% endcomment %}
{% comment %} 

the template gets the following context variables:

user_info = {

        display_name: nadooit.christoph.backhaus,
        user_code: NAD001,

}

list_of_employee_contracts = [
        {	
            "employee_contract": employee_contract, # the employee contract object
            "list_of_manager_contracts": [
                employee_manager_contract,
                customer_program_manager_contract,
            ],	
        },
        {
            "employee_contract": employee_contract, # the employee contract object	
            "list_of_manager_contracts": [	
                employee_manager_contract,
                customer_program_manager_contract,	
            ],		
        },                 
    ]	

    each *_contract has a get_abilities method which returns a list of abilities. Each ability has a name and a value (True or False)

    jeder Kunde soll in einer eigenen Tabelle angezeigt werden. 

    Also zunächst wird der Name des Kunden angezeigt der unter employee_contract.customer.name steht.

    Darunter wird dann eine Tabelle angezeigt mit den verschiedenen Contracttypes und den dazugehörigen Werten (True oder False)

    {% endcomment %}
{% endcomment %}

<div class="container">
  <br />
  <div class="row">
    <div class="col">
    {% comment %} display the data in user_info {% endcomment %}
        
        <div class="table-responsive">
            <table class="table caption-top">
            <caption>Benutzerdaten</caption>
            <thead class="table-dark">
                <tr>
                <th scope="col">Displayname</th>
                <th scope="col">User Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{user_info.display_name}}</td>
                <td>{{user_info.user_code}}</td>
                </tr>
            </tbody>
            </table>
        </div>
        <br />
        {% comment %} display the data in customers_the_user_is_responsible_for_and_the_customer_programms {% endcomment %}
        <div class="alert alert-info" role="alert">


    </div>
    <div class="col">
        <div class="table-responsive">
          {% for employee_contract_data in list_of_employee_contracts %}
            <table class="table caption-top">
            <caption>{{employee_contract_data.employee_contract.customer.name}}</caption>
            <thead class="table-dark">
                <tr>
                <th scope="col">Vertrag</th>

                </tr>
            </thead>
            {% for manager_contract in employee_contract_data.list_of_manager_contracts %}
            <tbody>
                <tr>
                <td>{{manager_contract}}</td>
                <td>Rechte</td>
                {{for ability in manager_contract.get_abilities}}
                <td>{{ability.name}}</td>
                <td>{{ability.value}}</td>
                {{endfor}}
                </tr>
            </tbody>
                {% endfor %}
          {% endfor %}
            </table>
        </div>
</div>