{% extends 'nadooit_os/base.html' %} {% block content %} {% csrf_token %}
{% load get_time_as_string_in_hour_format_for_time_in_seconds_as_integer %} 
<div class="container">
  <br />
  <div class="row">
    <div class="col">
      {% for customer, customer_time_account_info in customer_time_accounts_grouped_by_customer_with_total_time_of_all_time_accounts.items %}
      <div class="table-responsive">
        <table class="table caption-top">
          <caption>
            {{customer.name}}
          </caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Zeit Konto</th>
              <th scope="col">Kontoname</th>
              <th scope="col">Kontostand</th>
            </tr>
          </thead>
          <tbody>
            {% for customer_time_account in customer_time_account_info.customer_time_accounts %}
            <tr>
              <td>{{customer_time_account.id}}</td>
              <td>{{customer_time_account.name}}</td>
              <td>
                {{customer_time_account.time_account.time_balance_in_seconds|get_time_as_string_in_hour_format_for_time_in_seconds_as_integer}}
              </td>
            </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            <tr>
              <td colspan="2">
                <strong>Gesamt</strong>
              </td>
              <td>
                {{customer_time_account_info.customer_time_account_total_time_balance|get_time_as_string_in_hour_format_for_time_in_seconds_as_integer}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    {% comment %} some pedding {% endcomment %}
    <br />
    {% endfor %}
  </div>
</div>

{% endblock %}
