{% extends 'nadooit_os/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <br/>
        {% if submitted %}
            <div class="alert alert-success">
                <strong>Schlüssel als Manager freigeschaltet!</strong>
            </div>
            
        {% else %}    

        <form action="" method="post">
        {% csrf_token %}

        {% comment %} give the user a choice of the customers from the list list_of_customers_the_manager_is_responsible_for the user can select multiple
 {% endcomment %}

        <div class="form-group">
            <label for="customers">Kunden auswählen:</label>
            <select class="form-select" multiple id="customers" name="customers">
                {% for customer in list_of_customers_the_manager_is_responsible_for %}
                <option value="{{ customer.id }}">{{ customer.name }}</option>
                {% endfor %}
            </select>	
        </div>
        <br/>
        {% comment %} give the user a choice of the time_accounts from the list time_accounts_the_manager_is_responsible_for the user can select multiple  {% endcomment %}	
{% comment %}         
        <div class="form-group">
            <label for="time_accounts">Zeitkonten auswählen:</label>
            <select class="form-select" multiple id="time_accounts" name="time_accounts">
                {% for time_account in time_accounts_the_manager_is_responsible_for %}
                <option value="{{ time_account.id }}">{{ time_account.name }}</option>
                {% endfor %}
            </select>
 {% endcomment %}
            {% comment %} OLD
                    {{ form|crispy  }}
            {% endcomment %}
        <div class="form-group">
            <label for="user_code">Schlüssel User code eingeben:</label>
            <input type="text" class="form-control" id="user_code" name="user_code" required>
        <div class="form-group">
        <div class="form-group">
            <label for="role">Rolle auswählen:</label>
            <select class="form-select" multiple id="role" name="role">
            <option value="can_create_time_accounts">Kann Zeitkonten erstellen</option>
            <option value="can_delete_time_accounts">Kann Zeitkonten löschen</option>
            <option value="can_give_manager_role">Kann Schlüßel Zeitkonto Manager Rechte vergeben</option>
            </select>
        </div>
        <br/>

        <input type="submit" value="Mache User Code zum API Key Mangager" class="btn btn-secondary">
        </form>
        {% endif %}
</div>

{% endblock %}