{% extends 'nadooit_auth/base.html' %}

{% block content %}
<div class="container">

<center>

        <h1>Login</h1>
        <br/>
        <br/>

        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
{% comment %}               
              <label for="username" class="form-label">Benutzername</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
 {% endcomment %}
            <div class="mb-3">
              <label for="username" class="form-label">User Code</label>
              <input type="text" class="form-control" id="user_code" name="user_code">
            </div>
{% comment %} 
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
             {% endcomment %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

</center>
</div>

{% endblock %}