{% extends 'nadooit_time_account/base.html' %}
{% block content %}
{% csrf_token %}

<div class="container">
  <br>
  <div class="row">
    <div class="col">
      {% for customer, customer_time_account_info  in customer_time_accounts_grouped_by_customer.items%}
      <div class="card">

        <div class="card-header">
          <h5 class="card-title">{{customer.name}}</h5>
        </div>
        
        <div class="table-responsive">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Zeit Konto</th>
                <th scope="col">Kontoname</th>
                <th scope="col">Kontostand</th>
              </tr>
            </thead>
            <tbody>
              {% for customer_time_account in customer_time_account_info.customer_time_accounts %}
                <tr>
                  <td>{{customer_time_account.id}}</td>
                  <td>{{customer_time_account.name}}</td>
                  <td>{{customer_time_account.time_account.time_balance_in_seconds}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <h5 class="card-title">Kontostand: {{customer_time_account_info.customer_time_account_total_time_balance}}</h5>
        </div>
      </div>
      {% comment %} some pedding {% endcomment %}
      <br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}