{% extends 'nadooit_website/base.html' %}

{% block content %}
<div class="impressum">
  {% block title %} <h1>{{ page_title }}</h1> {% endblock title %}
  
  <h2>Gesetzliche Anbieterkennung gemäß § 5 TMG</h2>
  <p>Herr Christoph Backhaus<br />
  Christoph Backhaus IT<br />
  Am Markt 1<br />
  47229 Duisburg</p>
  
  <h2>Kontakt:</h2>
  <p>Telefon: +49 (0) 20 65 / 709 84 29<br />
  E-Mail: christoph.backhaus@nadooit.de</p>
  
  <h2>Umsatzsteuer-ID</h2>
  <p>Umsatzsteuer-Identifikationsnummer gem. § 27 a Umsatzsteuergesetz:<br />
  DE 352628026</p>
  
  <h2>Redaktionell verantwortlich</h2>
  <p>Herr Christoph Backhaus<br />
  Am Markt 1<br />
  47229 Duisburg</p>
  
  <h2>Beschwerderecht bei datenschutzrechtlichen Verstößen</h2>
  <p>Bei datenschutzrechtlichen Verstößen steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Die zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen:</p>
  <p>Die Landesbeauftragte für Datenschutz und Informationsfreiheit Nordrhein-Westfalen<br />
  Bettina Gayk<br />
  Kavalleriestr. 2-4<br />
  40213 Düsseldorf</p>
  
  <h2>Kontakt</h2>
  <p>Telefon: +49 (0) 2 11/384 24 0<br />
  Telefax: +49 (0) 2 11/384 24 99 9<br />
  E-Mail: poststelle@ldi.nrw.de<br />
  Homepage: <a href="http://www.ldi.nrw.de" target="_blank" rel="noopener noreferrer">www.ldi.nrw.de</a></p>
  
  <h2>Alternative Streitbeilegung:</h2>
  <p>Zur außergerichtlichen Beilegung von verbraucherrechtlichen Streitigkeiten stellt die Europäische Union eine Online-Plattform (OS-Plattform) zur Verfügung unter <a href="http://ec.europa.eu/odr" target="_blank" rel="noopener noreferrer">ec.europa.eu/odr</a>. Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht verpflichtet und grundsätzlich nicht bereit.</p>
  
  <h2>Hinweis gem. Verbraucherstreitbeilegungsgesetz (VSBG)</h2>
  <p>Wir sind grundsätzlich nicht bereit und verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
  
  <p>Dieses Impressum wurde erstellt durch Kanzlei Fischer-Battermann.</p>
</div>
{% endblock %}
