<section>
    <div class="banner">
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sie hätten gerne Software wie ein IT-Unternehmen?</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir kümmern uns darum</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir werden Ihre externe IT-Abteilung</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sie brauchen nicht mehr ewig zwischen verschiedenen Angeboten vergleichen</h1>
            <h1>oder</h1>
            <h1>teuer auf Ihre Bedürfnisse hin anzupassen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir digitalisieren Ihre Prozesse</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir schaffen Prozesssicherheit</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir schaffen IT-Sicherheit</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen für Sie Webseiten</h1>
            <h1>und</h1>
            <h1>Apps</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Alles ohne Abos!</h1>
            <h1>und</h1>
            <h1>Wartungsgebühren</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir garantieren Ihnen</h1>
            <h1>Messbare Produktivitätssteigerung!</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Nur dafür zahlen Sie</h1>
        </div>
        <div class="our-grantee-gold" data-aos="fade-up">
            <h1>Das ist unsere einzigartige Produktivitäts Garantie!</h1>
        </div>
    </div>
</section>