<section>
    <div class="banner">
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sie sind kein IT-Unternehmen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sie wollen auch kein IT-Unternehmen sein</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Dennoch hätten Sie gerne Software wie ein IT-Unternehmen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir kümmern uns darum</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir werden Ihre IT-Abteilung</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sie brauchen nicht mehr ewig zwischen verschiedenen Angeboten vergleichen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Tage oder Wochen damit verbringen Programme einzurichten </br> oder </br> teuer auf Ihre Bedürfnisse hin anzupassen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir digitalisieren Ihre Prozesse</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir schaffen Prozesssicherheit</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir schaffen IT-Sicherheit</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir bauen Ihnen Webseiten</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir bauen Ihnen Apps</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Keine Abos!</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Keine Wartungsgebühren!</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Messbare Produktivitätssteigerung!</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Denn nur dafür zahlen Sie!</h1>
        </div>
        <div class="our-grantee-gold" data-aos="fade-up">
            <h1>Das ist unsere einzigartige Produktivitäts Garantie!</h1>
        </div>
    </div>
</section>