<section>
    <div class="banner">
        <div class="our-grantee" data-aos="fade-up">
            <h1>Diese vier simplen Schritte durchlaufen wir gemeinsam für alle Ihre Prozesse</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen Prozessdiagramme</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Für alle Schritte von Kundenaquise bis Geldeingang</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen für Sie, für jeden Schritt, aussagekräftig Schulungsunterlagen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen individuel auf Ihre Bedürfnisse angepasste Software</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Während Sie unsere Programme verwenden, sammeln wir Daten und trainieren so Künstliche Intelegenzen, </br>
                 die Sie bei der Arbeit entlasten</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>So können Sie schnell neue Kollegen einarbeiten und sich auf Ihr Kerngeschäfft fokusieren</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Und es wird noch besser!</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir helfen Ihnen beim erstellen von Online Werbekampagnen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sorgen dafür, dass qualifizierte Angestellte bei Ihnen Schlange stehen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Und beschaffen Ihnen konstant qualitativ hochwertige Kunden</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Klingt zu gut um wahr zu sein?</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Vergessen Sie nicht</h1>
        </div>
        <div class="our-grantee-gold" data-aos="fade-up">
            <h1>Unsere einzigartige Produktivitäts Garantie!</h1>
        </div>
    </div>
</section>