<section>
    <div class="banner">
        <div class="our-grantee" data-aos="fade-up">
            <h1>Diese vier simplen Schritte durchlaufen wir gemeinsam für alle Ihre Prozesse</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen Prozessdiagramme</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Für alle Schritte von Kundenaquise bis Geldeingang</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen für Sie, für jeden Schritt, aussagekräftige Schulungsunterlagen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen individuel auf Ihre Bedürfnisse angepasste Software</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir erstellen Künstliche Intelegenzen,
                 die Sie bei der Arbeit entlasten</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Fokusieren Sie sich auf Ihr Kerngeschäfft</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Kontaktieren Sie uns für ein Erstgespräch und erfahren Sie mehr</h1>
        </div>
        {% comment %} 
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir helfen Ihnen beim erstellen von Online Werbekampagnen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Sorgen dafür, dass qualifizierte Angestellte bei Ihnen Schlange stehen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Und beschaffen Ihnen konstant qualitativ hochwertige Kunden</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Klingt zu gut um wahr zu sein?</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Vergessen Sie nicht</h1>
        </div>
        <div class="our-grantee-gold" data-aos="fade-up">
            <h1>Unsere einzigartige Produktivitäts Garantie!</h1>
        </div>
        {% endcomment %}
    </div>
</section>