{% extends 'nadooit_os/base.html' %} {% block content %} {% csrf_token %}

<div class="container">
  <br />
  <div class="row">
    <div class="col">
      {% for cutomer in customers_the_user_is_responsible_for_and_the_customer_programms %}

      <div class="table-responsive">
        <table class="table caption-top">
          <caption>
            {{cutomer.0}}
          </caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Programm</th>
              <th scope="col">Zeitersparnis pro Ausführung</th>
              <th scope="col">Preis pro Sekunde</th>
              <th scope="col">Preis pro Ausführung</th>
              <th scope="col">Erstellt am</th>
            </tr>
          </thead>

          <tbody>
            {% for customer_program in cutomer.1 %}
            <tr>
              <td>{{ customer_program.id }}</td>
              <td>{{ customer_program.program.name }}</td>
              <td>
                {{customer_program.program_time_saved_per_execution_in_seconds}} sek
              </td>
              <td>
                {{customer_program.price_per_second_in_cent}} Cent
              </td>
              <td>
                {{customer_program.price_per_execution}} Cent
              </td>
              <td>{{ customer_program.created_at}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">Keine Programme vorhanden</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <br />

      {% empty %}
      <div class="alert alert-info" role="alert">Keine Programme vorhanden</div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
