{% extends 'nadooit_os/base.html' %}

{% block content %}
<div class="container">
        <br/>
        {% if submitted %}
            <div class="alert alert-success">
                <strong>Success!</strong> API Key created.
            </div>
            
        {% else %}    

        <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Create NADOOIT API Key" class="btn btn-secondary">
        </form>
        {% endif %}
</div>

{% endblock %}