{% extends 'nadooit_api_key/base.html' %}

{% block content %}
<div class="container">
    <center>

        <h1>Create new NADOOIT API Key</h1>
        <br/>
        <br/>
        {% if submitted %}
            <div class="alert alert-success">
                <strong>Success!</strong> API Key created.
            </div>
        {% else %}    

        

        <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Create NADOOIT API Key" class="btn btn-secondary">
        </form>
        {% endif %}
    </center>
</div>

{% endblock %}