{% extends 'nadooit_website/base.html' %}
{% load static%}
{% block content %}



{% include 'nadooit_website/intro.html' %}
{% include 'nadooit_website/process_steps.html' %}
{% include 'nadooit_website/what_they_get.html' %}
{% include 'nadooit_website/contact.html' %}
{% include 'nadooit_website/portal.html' %}
{% include 'nadooit_website/scrollup_button.html' %}

<script src={% static 'nadooit_website/js/app.js' %}></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({duration: 1000});
</script>
{% endblock %}