<section>
    <div class="banner">
        <div class="size">
            <div class="gap" data-aos="fade-in">
                <h3><img class="hide" src="static\nadooit_website\png\logo\nadooit-big.png" width="40%" alt=""></h3>
                <h1><img class="round-animation hide portal" src="static\nadooit_website\png\logo\ring.png" width="22%" alt=""></h1>
                <h2><img class="hide" src="static\nadooit_website\png\logo\niche.png" width="50%" alt=""></h2>
                <h1><img class="showe portal" src="static\nadooit_website\png\logo\nadooit-big-phone.png" width="100%" alt=""></h1>
        </div>
    </div>
</section>
