<section>
    <div class="banner">
        <div class="our-grantee" data-aos="fade-up">
            <h1>Diese vier simplen Schritte durchlaufen wir gemeinsam für alle Ihrere Prozess</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir ertellen Prozessdiagramme in denen alle Schritte von Kundenanfrage bis Geldeingang erfasst werden</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir ertellen für Sie jeden Schritt aussagkräftige Schulungsunterlagen</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir ertellen basierend darauf individuel auf Ihre Bedürfnisse angepasste Software</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Während Sie unsere Programme nuzten, sammeln wir Daten und trainieren so Künstliche Intelegenzen, </br>
                 die Sie bei der Arbeit entlasten</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>So können Sie schnell neue Kollegen einarbeiten und sich auf Ihr Kerngeschäfft fokusieren</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Wir bauen Webseiten um neue qualifizierte Angstellten zu finden</h1>
        </div>
        <div class="our-grantee" data-aos="fade-up">
            <h1>Webseiten die Ihnen konstant qualitative Kunden verschaffen</h1>
        </div>
    </div>
</section>