{% extends 'nadooit_os/base.html' %}

{% block content %}

{% csrf_token %}

    {% comment %} Show the users Displayname, User Code, a list of all contracttypes for each customer the user is connected with {% endcomment %}
    {% comment %} 

    the template gets the following context variables:

    user_info = {

            display_name: nadooit.christoph.backhaus,
            user_code: NAD001,

    }

    list_of_manager_contracts = 
    [
        {
        'employee_contract': <EmployeeContract: Angestelltenvertrag zwischen: NADOOIT Christoph Backhaus - Christoph Backhaus IT>, 
            'list_of_manager_contracts_with_abilities': 
            [
                {
                    'manager_contract': <EmployeeManagerContract: Angestelltenverwaltervertrag zwischen: NADOOIT Christoph Backhaus - Christoph Backhaus IT>,
                    'abilities': {'can_add_new_employee': True, 'can_delete_employee': True, 'can_give_manager_role': True}
                }, 
                {
                    'manager_contract': <CustomerProgramManagerContract: Kundenverwaltervertrag zwischen: NADOOIT Christoph Backhaus - Christoph Backhaus IT>, 
                    'abilities': {'can_create_customer_program': True, 'can_delete_customer_program': True, 'can_give_manager_role': True}
                }, 
                {
                    'manager_contract': <CustomerManagerContract: Kundenverwaltervertrag zwischen: NADOOIT Christoph Backhaus - Christoph Backhaus IT>, 
                    'abilities': {'can_give_manager_role': True}
                }
            ]
        }
    ]

        each *_contract has a get_abilities method which returns a list of abilities. Each ability has a name and a value (True or False)

        jeder Kunde soll in einer eigenen Tabelle angezeigt werden. 

        Also zunächst wird der Name des Kunden angezeigt der unter employee_contract.customer.name steht.

        Darunter wird dann eine Tabelle angezeigt mit den verschiedenen Contracttypes und den dazugehörigen Werten (True oder False)

        {% endcomment %}

<div class="container">
  <br>
    <div class="row">
        <div class="col">
            {% comment %} display the data in user_info {% endcomment %}
            <div class="table-responsive">
                <table class="table caption-top">
                <caption>Benutzerdaten</caption>
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Displayname</th>
                    <th scope="col">User Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{user_info.display_name}}</td>
                    <td>{{user_info.user_code}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <br>
            {% comment %} display the data in customers_the_user_is_responsible_for_and_the_customer_programms {% endcomment %}
            
            <div class="col">
                <div class="table-responsive">
                {% for employee_contract_data in list_of_employee_contracts %}
                    <table class="table caption-top">
                        <caption>{{employee_contract_data.employee_contract.customer.name}}</caption>
                        <thead class="table-dark">
                            <tr>
                            <th scope="col">Vertrag</th>
                            </tr>
                        </thead>

                        {% for manager_contracts in employee_contract_data.list_of_manager_contracts %}
                        {% if manager_contracts.manager_contract is not None %}
                        <tbody>
                            <tr>
                            <td>{{manager_contracts.manager_contract}}</td>
                        </tbody>
                        {% endif %}
                        {% endfor %}
                    </table>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}