<div id="quickfilter{{ cutomer_id }}">
{% include 'nadooit_os/customer_program_execution/components/filter_tabs.html' %}
{% comment %} Add filter for entering year month and day {% endcomment %}
    <div class="table-responsive">
        <table class="table caption-top">
            <caption>{{cutomer_name}}</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Programm</th>
                    <th scope="col">Zeitersparnis</th>
                    <th scope="col">Preis</th>
                    <th scope="col">Erstellt am</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aktion</th>
                </tr>
            </thead>

            <tbody>
            {% for customer_program_execution in customer_program_executions %}
                <tr>
                <td>{{ customer_program_execution.id }}</td>
                <td>{{ customer_program_execution.customer_program.program.name }}</td>
                <td>{{ customer_program_execution.program_time_saved_in_seconds}} sek</td>
                <td>{{ customer_program_execution.price_for_execution}}</td>
                <td>{{ customer_program_execution.created_at}}</td>
                <td>
                {% if customer_program_execution.payment_status == "REVOKED" %}
                    <span class="badge bg-danger">Storniert</span>
                {% elif customer_program_execution.payment_status == "REFUNDED" %}
                    <span class="badge bg-success">Erstattet</span>
                {% elif customer_program_execution.payment_status == "PAID" %}
                    <span class="badge bg-success">Bezahlt</span>
                {% else %}
                    <span class="badge bg-warning">Offen</span>
                {% endif %}	
                </td>
                <td>
                {% if customer_program_execution.payment_status == "REVOKED" %}

                {% elif customer_program_execution.payment_status == "REFUNDED" %}

                {% elif customer_program_execution.payment_status == "PAID" %}

                {% else %}
                    {% include 'nadooit_os/customer_program_execution/components/complaint_modal_button.html' %}
                {% endif %}	
                </td>
                </tr>
            {% empty %}
            <tr>
            <td colspan="5"> Keine Buchungen vorhanden </td>
            </tr>
            {% endfor %}
            {% comment %} A row with the summ of all the transactions {% endcomment %}
            <tr>	
            <td colspan="2"> Summe </td>
            <td>{{ total_time_saved}}</td>
            <td>{{ total_price_for_execution }}</td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            
            </tbody>
        </table>
    </div>
</div>
