<header class="pc" style="border-bottom: 1px solid #00b4dc;">
    <nav>
        <div class="container">
            <ul class="nav-bar">
                <ul class="links">
                    <li><a href="{% url 'manage' %}">Manage NADOOIT API Keys</a></li>
                    <li><a href="{% url 'create-api-key' %}">Create new NADOOIT API Key</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout-user' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'login-user' %}">Login</a></li>
                    {% endif %}

                </ul>
            </ul>
        </div>
    </nav>
  </header>
  <header class="mb" style="border-bottom: 1px solid #00b4dc;">
    <nav>
        <div class="nv">
            <div class="container">
                <ul class="nav-bar">
                    <li class="toggle" onclick="my()"><i class="far fa-bars bar"></i></li>
                    <li class="close" onclick="my()"><i class="far fa-times cls"></i></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mmm">
        <ul class="menu links">
            <li><a href="{% url 'manage' %}">Manage NADOOIT API Keys</a></li>
            <li><a href="{% url 'create-api-key' %}">Create new NADOOIT API Key</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout-user' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login-user' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
  </header>
  <script src="static\nadooit_website\js\app.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init({duration: 1000});
  </script>
  <section>