{% extends 'base.html' %}

{% block content %}
<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Christoph Backhaus<br />
Christoph Backhaus IT<br />
Am Markt 1<br />
47229 Duisburg</p>

<h2>Kontakt</h2>
<p>Telefon: 02065 709 8429<br />
E-Mail: christoph.backhaus@nadooit.de</p>

<h2>Umsatzsteuer-ID</h2>
<p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
DE352628026</p>

<h2>Redaktionell verantwortlich</h2>
<p>Christoph Backhaus<br />
Am Markt 1<br />
47229 Duisburg</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
{% endblock %}