<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="static\nadooit_website\png\nadooit-pure-logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="{% url 'index' %}" height="50">NADOOIT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://app.gather.town/invite?token=h_XcMToQC2uKJ9yiGF4coXrotqME_LZd">Online Büro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'datenschutz' %}">Datenschutz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'impressum' %}">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>